In [290]:
#import dependencies 
from numpy.random import seed
from numpy.random import randn
from scipy import stats
import numpy as np

import math  

import seaborn as sns
sns.set(style="darkgrid")
from matplotlib import pyplot as plt

import pandas as pd
import os

In [291]:
#check list of files in data directory 
print(os.listdir("./data"))

['newdata_iperf_m5d_48 - newdata_iperf_m5d_48.csv', 'ycruncher_m5d_aug13_48-instances - ycruncher_m5d_aug13.csv', '.DS_Store', 'm5d-no-idle-dedicated-host-11-07-2019 - newdata.csv', 'm5d_48vms_pgbench_2ndtry - m5d_48vms_pgbench_2ndtry.csv', 'm5d-y-cruncher-idle-mode-10-27-2019 - m5d-ycruncher-p-10-27-2019.csv-Summary.csv', 'm5d-sysbench-dedicated-host-10-24-2019 - m5d-sysbench-dedicated-host-10-24-2019.csv', 'm5d-no-idle-dedicated-host-11-07-2019 - newdata.csv-Summary.csv', 'y_cruncher_08_22_2019 - y_cruncher_08_22_2019.csv', 'm5d_48vms_pgbench_no_idle_11_11_2019 - Sheet1.csv', 'm5d-y-cruncher-idle-mode-10-27-2019 - m5d-ycruncher-p-10-27-2019.csv', 'summary']

In [292]:
#make sure to import correct file here
data_name = 'm5d_48vms_pgbench_no_idle_11_11_2019 - Sheet1.csv'

In [293]:
#adjust header if necessary
df_data = pd.read_csv("./data/" + data_name, header = 1)

In [294]:
#remove idle vm rows

#y-cruncher
#df_data.dropna(subset=['processorInfo'], inplace= True)

In [295]:
df_data.head()

,instanceID,experimentID,setId,instanceType,wallTime,clients,threads,scaleFactor,transactionsType,queryMode,duration,transactions,mountPoint
0,i-00201d4dd6e17aac2,1573493686-0,0,m5d.large,60.412139,10,10,1,TPC-B (sort of),simple,60 s,124782,data_directory = '/var/lib/postgresql/9.5/main'
1,i-00201d4dd6e17aac2,1573493686-0,0,m5d.large,60.346640,10,10,1,TPC-B (sort of),simple,60 s,124280,data_directory = '/var/lib/postgresql/9.5/main'
2,i-00201d4dd6e17aac2,1573493686-0,0,m5d.large,60.321836,10,10,1,TPC-B (sort of),simple,60 s,124011,data_directory = '/var/lib/postgresql/9.5/main'
3,i-002280d80dc30f869,1573493686-0,0,m5d.large,60.302091,10,10,1,TPC-B (sort of),simple,60 s,125381,data_directory = '/var/lib/postgresql/9.5/main'
4,i-002280d80dc30f869,1573493686-0,0,m5d.large,60.259652,10,10,1,TPC-B (sort of),simple,60 s,124771,data_directory = '/var/lib/postgresql/9.5/main'

In [314]:
#setup cols, metric for the relative experiment type
def setUpMetrics(experimentName):
    
    if experimentName == 'pgbench':
        cols = ['instanceID', 'setId', 'transactions']
        metric = 'transactions'
    elif experimentName == 'sysbench' or experimentName == 'y-cruncher':
        cols = ['instanceID','setId','wallTime']
        metric = 'wallTime'
    elif experimentName == 'iperf':
        df_data['Total'] = df_data['Upload'] + df_data['Download']
        cols = ['instanceID','setId','Upload', 'Download', 'Total']
        metric = 'Total'
    else:
        print('Illegal Experiment Name..')
    return metric, cols

In [315]:
#setup vars for each experiment time... i.e. wallTime vs transactions
experimentName = 'pgbench'
metric, cols = setUpMetrics(experimentName)

In [297]:
#drop other columns
df_data = df_data[cols]

In [298]:
df_data.head()

            instanceID  setId  transactions
0  i-00201d4dd6e17aac2      0        124782
1  i-00201d4dd6e17aac2      0        124280
2  i-00201d4dd6e17aac2      0        124011
3  i-002280d80dc30f869      0        125381
4  i-002280d80dc30f869      0        124771

In [299]:
df_data.describe()

             setId   transactions
count  3528.000000    3528.000000
mean     15.666667  144260.246882
std      11.427711   16052.733702
min       0.000000  113248.000000
25%       6.000000  129251.000000
50%      14.000000  138340.500000
75%      24.000000  155062.500000
max      47.000000  186691.000000

In [320]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3528 entries, 0 to 3527
Data columns (total 3 columns):
instanceID      3528 non-null object
setId           3528 non-null int64
transactions    3528 non-null int64
dtypes: int64(2), object(1)
memory usage: 82.8+ KB

In [347]:
#group by tenants / setId 
mean = df_data.groupby('setId').mean()
mean.head()

        transactions
setId
0      124247.416667
1      124609.000000
2      125635.673913
3      127079.318519
4      129004.856061

In [348]:
#create result dataframe
result_df = mean

In [349]:
#create std, normalized data
std = df_data.groupby('setId').std()
std.head()

       transactions
setId
0       1914.137745
1       1923.470182
2       2196.456487
3       2707.895382
4       4501.143763

In [350]:
#add normalized column
if experimentName == 'pgbench':
    result_df['normalized'] = (result_df.loc[:,metric:]-result_df.iloc[-1][metric:]).div(result_df.iloc[-1][metric:])
    result_df['normalized'] *= 100
    result_df['normalized'] += 100
else: 
    result_df['normalized'] = 1 - (result_df.loc[:,metric:]-result_df.iloc[-1][metric:]).div(result_df.iloc[-1][metric:])
    result_df['normalized'] *= 100

result_df['normalized'] = result_df['normalized'].round(2).astype(str) + '%'

In [351]:
result_df.head()

        transactions normalized
setId
0      124247.416667     66.97%
1      124609.000000     67.17%
2      125635.673913     67.72%
3      127079.318519      68.5%
4      129004.856061     69.53%
5      129609.550388     69.86%
6      130127.285714     70.14%
7      131178.869919     70.71%
8      132259.575000     71.29%
9      133170.196581     71.78%
10     135453.728070     73.01%
11     136071.864865     73.34%
12     141488.268519     76.26%
13     142042.009524     76.56%
14     142424.147059     76.77%
15     143534.484848     77.37%
16     144578.625000     77.93%
17     145593.838710     78.48%
18     151986.911111     81.92%
19     152981.206897     82.46%
20     153755.809524     82.88%
21     154554.975309     83.31%
22     156843.525641     84.54%
23     157419.666667     84.85%
24     157972.458333     85.15%
25     158429.681159      85.4%
26     158825.545455     85.61%
27     158578.698413     85.48%
28     158338.883333     85.35%
29     158168.087719     85.25%
30     158824.851852     85.61%
31     160725.901961     86.63%
32     165069.145833     88.97%
33     166907.644444     89.96%
34     168268.190476      90.7%
35     169329.538462     91.27%
36     170444.416667     91.87%
37     170840.363636     92.08%
38     171114.200000     92.23%
39     170995.000000     92.17%
40     173138.333333     93.32%
41     173635.095238     93.59%
42     177914.444444      95.9%
43     179218.866667      96.6%
44     183794.000000     99.07%
45     183869.444444     99.11%
46     182739.333333      98.5%
47     185525.666667     100.0%

In [352]:
#add std column
result_df['std'] = std

In [353]:
#reverse table
result_df=result_df.iloc[::-1]

In [354]:
#add tenants
result_df['tenants'] = np.arange(len(result_df))+1

/Users/dell/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [355]:
#rearrange columns
cols = ['tenants', metric, 'std', 'normalized']

In [356]:
result_df = result_df[cols]

In [357]:
#add % to normalized

In [358]:
result_df

       tenants   transactions          std normalized
setId
47           1  185525.666667   277.831484     100.0%
46           2  182739.333333  2596.633949      98.5%
45           3  183869.444444  2700.515280     99.11%
44           4  183794.000000  2225.317056     99.07%
43           5  179218.866667  3471.788812      96.6%
42           6  177914.444444  4026.656213      95.9%
41           7  173635.095238  6399.124768     93.59%
40           8  173138.333333  6106.710426     93.32%
39           9  170995.000000  3180.109251     92.17%
38          10  171114.200000  3542.665239     92.23%
37          11  170840.363636  3626.039229     92.08%
36          12  170444.416667  3912.990405     91.87%
35          13  169329.538462  4230.671409     91.27%
34          14  168268.190476  4649.368728      90.7%
33          15  166907.644444  4980.351672     89.96%
32          16  165069.145833  5162.746939     88.97%
31          17  160725.901961  7245.074714     86.63%
30          18  158824.851852  7531.631980     85.61%
29          19  158168.087719  5763.676615     85.25%
28          20  158338.883333  5620.793457     85.35%
27          21  158578.698413  5758.838076     85.48%
26          22  158825.545455  5326.891849     85.61%
25          23  158429.681159  4953.587834      85.4%
24          24  157972.458333  4505.804397     85.15%
23          25  157419.666667  3723.408495     84.85%
22          26  156843.525641  3183.888465     84.54%
21          27  154554.975309  1231.113419     83.31%
20          28  153755.809524  1238.602696     82.88%
19          29  152981.206897  1769.959815     82.46%
18          30  151986.911111  2199.073848     81.92%
17          31  145593.838710  7649.013156     78.48%
16          32  144578.625000  8266.257489     77.93%
15          33  143534.484848  8983.923842     77.37%
14          34  142424.147059  9609.299387     76.77%
13          35  142042.009524  8891.300274     76.56%
12          36  141488.268519  8102.373114     76.26%
11          37  136071.864865  2727.460882     73.34%
10          38  135453.728070  2269.582084     73.01%
9           39  133170.196581  3841.561323     71.78%
8           40  132259.575000  4477.863034     71.29%
7           41  131178.869919  5209.074587     70.71%
6           42  130127.285714  5908.196858     70.14%
5           43  129609.550388  5269.617117     69.86%
4           44  129004.856061  4501.143763     69.53%
3           45  127079.318519  2707.895382      68.5%
2           46  125635.673913  2196.456487     67.72%
1           47  124609.000000  1923.470182     67.17%
0           48  124247.416667  1914.137745     66.97%

In [289]:
#print to csv
result_df.to_csv( path_or_buf='./data/summary/' + data_name + '-Summary.csv')

In [ ]:
# graph tenants vs wallTime